/*---------Color-al-fondo-de-body---------------------------------*/
body{
    color: white;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom,  #191016a4, black), url(../../../../img/imagenes_de_fondo/fondo0_cyan.png);
    background-position: center;
}
/*------------------------------------------------------*/
header{
    color: white;
    padding: 15px;
    display: flex;
    background-color: #191016a4;
    justify-content: left;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
header .logo h1{
    margin: 0;
    font-size: 24px;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    display: flex;
    gap: 10px;
}
nav ul li a{
    text-align: none;
    color: white;
    font-size: bold;
}
/*--------------------------------*/
.contenedor-abuela{
    display: flex;
    justify-content: center;
    width: 100%;
}
.contenedor-madre{
    text-align: center;
    padding: 2rem;
    justify-items: center;
}
.contenedor-hija{
    text-align: left;
    padding: 1rem;
    justify-items: left;
}


.contenedor-abuelo{
    display: flex;
    justify-content: center;
    width: 100%;
}
.contenedor-padre{
    text-align: center;
    padding: 2rem;
    justify-items: center;
}
.contenedor-hijo{
    text-align: left;
    padding: 1rem;
    justify-items: left;
}
/*------------------------------------------------------------*/
.examen{
    padding: 1rem;
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: #047e694b;
    text-align: left;
    transition-duration: 0.4s;
}
.examen:hover{
    padding: 20px;
    box-shadow: 
    inset 0 -1em 1em #029179a4,
    0 0 0 2px  white,
    0.3em 0.3em 3em #114d43;
}
/*-----------------------------------------------*/
.titulo_examen{
    padding: 1rem;
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: #047e694b;
    text-align: left;
    transition-duration: 0.4s;
    text-align: center;
}

.titulo_examen:hover{
    padding: 20px;
    box-shadow: 
    inset 0 -1em 1em #029179a4,
    0 0 0 2px  white,
    0.3em 0.3em 3em #114d43;
}
/*-----------------------------------------------*/
.botones{
    background-color:#047e694b;
    border: none;
    color: white;
    padding: 10px 22px;
    border-radius: 10px;
    font-size: 15px;
    transition-duration: 0.4s;
    box-shadow: 0.3s ease-in-out;
    margin: 2px;
}

.botones:hover{
    padding: 15px;
    box-shadow: 
    inset 0 -1em 1em #029179a4,
    0 0 0 2px  white,
    0.3em 0.3em 3em #114d43;
}
/*-------------------------------------*/
.botones-cabecera{
    background-color:#047e694b;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 15px;
    transition-duration: 0.4s;
    box-shadow: 0.3s ease-in-out;
}
.botones-cabecera:hover{
    padding: 15px;
    box-shadow: 
    inset 0 -1em 1em #029179a4,
    0 0 0 2px  white,
    0.3em 0.3em 3em #114d43;
}
a{
    text-decoration: none;
}
/*-------------------------------------*/
.container{ 
    color: black;
    display: flex; 
    justify-content: center; 
    margin-top: 2px; 
}

.columna{
    margin: 10px;
    padding: 20px;
    width: 600px;
    background: white;
    border: 1px solid white;
    border-radius: 10px;
}