/*---------Color-al-fondo-de-body---------------------------------*/
body{
    color: white;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom,  #101916a4, black), url(../../../../img/imagenes_de_fondo/fondo5.jpg);
    background-position: center;
}
/*----------------------tamaño-de-lentras------------------------*/
.titulo{
    font-size: 2rem;
}
.subtitulo{
    font-size: 1.25rem;
}
.texto{
    font-size: 1.5rem;
}
.info_modulo{
    font-size: 1rem;
}
/*-------------------------------------------*/
header{
    color: white;
    padding: 15px;
    display: flex;
    background-color: #101916a4;
    justify-content: left;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
header .logo h1{
    margin: 0;
    font-size: 24px;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    display: flex;
    gap: 10px;
}
nav ul li a{
    text-align: none;
    color: white;
    font-size: bold;
}
/*--------------marca-pocision-de-los-contenedores----------------*/
.contenedor-bisabuelo{
    justify-content: left;
    width: 100%;
}
.contenedor-bipadre{
    display: flex;
    padding: 0rem;
    justify-content: center;
}
.contenedor-bihijo{
    text-align: left;
    padding: 1rem;
    justify-items: left;
}

.contenedor-abuelo{
    display: flex;
    justify-content: center;
    width: 100%;
}
.contenedor-padre{
    display: flex;
    padding: 0rem;
    justify-content: center;
}
.contenedor-hijo1{
    text-align: left;
    padding: 1rem;
    justify-items: left;
}
.contenedor-hijo2{
    text-align: left;
    padding: 1rem;
    justify-items: left;
}

.contenedor-abuelo1{
    display: flex;
    justify-content: center;
    width: 100%;
}
.contenedor-tio{
    display: flex;
    padding: 0rem;
    justify-content: center;
}
.contenedor-primo1{
    text-align: left;
    padding: 1rem;
    justify-items: left;
}

.contenedor-abuela{
    padding: 1rem 0rem 2rem 0rem;
    justify-content: center;
    text-align: center;
    justify-items: center;
}
/*-----------Tamaño-de-la-imagen-lectura-1-y-2-----------------------------*/
.imagen_ejemplo{
    width: 500px;
    height: 225px;
}
.imagen_ejemplo1{
    width: 500px;
    height: 225px;
}
/*--------------------diseño-de-cajas-de-lecturas-----------------------*/
.lectura_1{
    padding: 10px;
    width: 600px;
    height: auto;
    border-radius: 10px;
    background-color:  rgba(3, 112, 145, 0.212);
    text-align: left;
    transition-duration: 0.4s;
}
.lectura_1:hover{/*le agrega animacion a contenedor-1*/
  padding: 20px;
  box-shadow: 
  inset 0 -3em 3em #2874A6,
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em #154360;
}

.lectura_2{
    padding: 10px;
    width: 600px;
    height: auto;
    border-radius: 10px;
    background-color:  rgba(3, 112, 145, 0.212);
    text-align: left;
    transition-duration: 0.4s;
}
.lectura_2:hover{/*le agrega animacion a contenedor-1*/
  padding: 20px;
  box-shadow: 
  inset 0 -3em 3em #2874A6,
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em #154360;
}

/*--------------------diseño-de-cajas-de-actividades--------------------*/
.actividad_1{
    padding: 10px;
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color:  rgba(3, 112, 145, 0.212);
    text-align: left;
    transition-duration: 0.4s;
}
.actividad_1:hover{
    padding: 20px;
    box-shadow: 
    inset 0 -3em 3em #2874A6,
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em #154360;
}
/*-----------------diseño-de-caja-de-concluir_acticidad-------------*/
.concluir_actividad{
    padding: 10px;
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color:  rgba(3, 112, 145, 0.212);
    text-align: left;
    transition-duration: 0.4s;
}
.concluir_actividad:hover{
    padding: 20px;
    box-shadow: 
    inset 0 -3em 3em #2874A6,
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em #154360;
}

.datos_unidad{
    padding: 10px;
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color:  rgba(3, 112, 145, 0.212);
    text-align: left;
    transition-duration: 0.4s;
}
.datos_unidad:hover{
    padding: 20px;
    box-shadow: 
    inset 0 -3em 3em #2874A6,
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em #154360;
}
/*-----------------diseño-de-botones----------------------*/
.botones{
    background-color: rgba(3, 112, 145, 0.212);
    border: none;
    color: white;
    padding: 10px 22px;
    border-radius: 10px;
    font-size: 15px;
    transition-duration: 0.4s;
    box-shadow: 0.3s ease-in-out;
    margin: 2px;
}

.botones:hover{
    padding: 15px;
    box-shadow: 
    inset 0 -1em 1em #2874A6,
    0 0 0 1px white,
    0.3em 0.3em 3em #154360;
}
/*------------------quita-subrayado-a-texto--------------*/
a{
    text-decoration: none;
    color: white;
}
/*-----------------------------------------------*/
.container{ 
    color: black;
    display: flex; 
    justify-content: center; 
    margin-top: 30px; 
}

.columna{
    margin: 10px;
    padding: 20px;
    background: white;
    border: 1px solid white;
    border-radius: 10px;
}